@font-face {
    font-family: Ubuntu-b;
    src: url(/src/assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family:Ubuntu-m;
    src: url(/src/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu-r;
    src: url(/src/assets/fonts/Ubuntu-Regular.ttf);
}


.sidebar {
    margin-top: 17px;
    margin-left: 17px;
    margin-right: 100px;
    max-height:568px ;
    width:274px;
    border-radius: 15px;
    z-index: 1;
    left: 17px;
    top: 17px;
    background-image: url(./bg-sidebar-desktop.svg);
    background-size: initial;
    background-repeat: no-repeat;
}
  
.sidebar img {
   min-height: 100%;
}

.steps {
    margin-top: 30px;
} 

.step {
    height: 70px;
    display: flex;
    justify-content: left;
    margin-left: 15%;
    width: 60%;
    padding-right: 20px;
}

.step-details-1 {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.step-details-1a {
   border: 1.5px solid white;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-family: Ubuntu-r;
}

.step-details-1a-active {
    border: 1.5px solid #C3E3FF;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #C3E3FF;
    font-family: Ubuntu-m;
 }

.step-details-2{
    text-align: left;
    margin-left: 15px;
}

.step-details-2 p {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    color: rgb(161, 158, 158);
    font-size: smaller;
    font-family: Ubuntu-r;
    
    
} 

.step-details-2 h4 {
    margin: 0;
    color: white;
    font-family:Ubuntu-r;
    font-size: smaller;
    letter-spacing: 1px;
}  



          /*------------------------------ media queries --------------------------------------*/




@media (width <= 820px) {
    .sidebar {
       width: 100%;
       display: flex;
       justify-content: center;
       height: 20vh;
       background-image: url(./bg-sidebar-mobile.svg);
       background-repeat: no-repeat;
       background-size: cover;
       margin-top: unset;
       margin-left: unset;
       margin-right: unset;
       max-height:unset ;
       border-radius: unset;
       z-index: unset;
       left: unset;
       top: unset;    
    }

    .steps {
        width:60%;
        display: flex;
        justify-content: center;
        margin-top: 10%;
        
    }

    .step {
        margin-right: 20px;
        height: unset;
        display: unset;
        justify-content: unset;
        margin-left: unset;
        width: unset;
        padding-right: unset;
        
    }

    .step-details-1 {
        display: unset;
        justify-content: unset;
        height: unset;
        align-items: unset;
    }

    .step-details-1a {
        border: solid white 2px;
        width: 50px;
        height: 50px;
        font-size: 30px;
    }

    .step-details-1a-active {
        border: solid #C3E3FF 2px;
        width: 50px;
        height: 50px;
        font-size: 30px;
    }

    .step-details-2 {
         visibility: hidden;
         width: 0;
         height: 0;
    }
}



@media (width <= 500px) {
    .sidebar {
        width: 100%;
        height: 20vh;
        background-image: url(./bg-sidebar-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
    }
    .steps {
        width:60%;
        display: flex;
        justify-content: center;
        margin-top: 10%;
        
    }

    .step {
        margin-right: 20px;
      
    }

    .step-details-1a {
        border: solid white 2px;
        width: 40px;
        height: 40px;
        font-size: 23px;
    }

    .step-details-1a-active {
        border: solid #C3E3FF 2px;
        width: 40px;
        height: 40px;
        font-size: 23px;
    }
}

@media (width <= 390px) {

    .step-details-1a {
        width: 30px;
        height: 30px;
    }

    .step-details-1a-active {
        width: 30px;
        height: 30px;
    }

    .steps {
        margin-top: 6%;
    }

}