@font-face {
    font-family: Ubuntu-b;
    src: url(/src/assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family:Ubuntu-m;
    src: url(/src/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu-r;
    src: url(/src/assets/fonts/Ubuntu-Regular.ttf);
}


.summary-p {
    color: rgb(161, 158, 158);
    text-align: left;
    font-family: Ubuntu-r;
    
}

.summary-1 {
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    width: 100%;
    
}

.summary-2 {
    width:100%;
    min-height: 368px;
    margin-right: 10%;
    flex-grow: 1;
}
.plan-sum {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid rgb(231, 231, 231) 1px;
}

.plan-sum-1 {
    text-align: left;
}


.plan-sum-1 h5 {
    margin-bottom: 0;
    font-family:Ubuntu-r;
    color: #0e2f5a;
}


.change {
    border: none;
    background-color: transparent;
    color:rgb(161, 158, 158);
    font-family:Ubuntu-r;
    padding: 0;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.change:hover {
    color: blue;
}

.change:active{
    color: rgb(69, 69, 255);
}

.plan-sum-tt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-sum-tt h5{
    margin-bottom: 0;
    color: #0e2f5a;
}

.addons-sum {
   text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 10px;
    border-bottom: solid rgb(231, 231, 231) 1px;
}

.addons-sum-1-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

.addons-sum-1 {
    font-family: Ubuntu-r;
    display: flex;
    justify-content: space-between;
}

.addons-sum-1 p {
    color:rgb(161, 158, 158);
    font-size: smaller;
    margin-top: 0;
}

.addons-sum-1 h6 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #1f5cac;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    width: 89%;
}

.total p {
    color:rgb(161, 158, 158);
    font-size: smaller;
    margin-top: 20px;
    
}

.total h4 {
    color: #6259FF;
}


          {/*------------------------------ Foooter --------------------------------------*/}

.summary-footer {
    justify-content: space-between;
    display: flex;
    width:100%;
    padding-bottom: 5%;
}

.summary-footer button {
    background-color: #0c284c;
    cursor: pointer;
    color: white;
    font-family: Ubuntu-r ;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 7px;
}


.summary-footer button:active {
    background: #153f76;
    color: white;
  }

  
          {/*------------------------------ media queries --------------------------------------*/}

  
  @media (width <= 500px) {

    .summary-2 {
        margin-top: 40px;
        border-radius: 15px;
        height: 92.9dvb;
       

    }
    .summary-p {
        font-size: 30px;
        max-width:500px ;
        margin-bottom: 5px;
    }

    .plan-sum {
        border-bottom: solid rgb(231, 231, 231) 2px;
    }
    
    .plan-sum-1 {
        text-align: left;
    }
    
    .plan-sum-1 h5 {
        font-size: 30px;
        margin-top: 30px;
    }
    
    
    .change {
        font-size: 28px;
    }
    
    
    .plan-sum-tt h5{
        font-size: 30px;
        margin-top: 20px;
    }

    .addons-sum-1 p {
        font-size: 28px;
    }
    
    .addons-sum-1 h6 {
      font-size: 25px;
    }

    .total {
        display: flex;
        justify-content: space-between;
        margin-left: 25px;
        margin-right: 25px;
        width: 89%;
    }
    
    .total p {
        font-size: 30px;
    }
    
    .total h4 {
        margin-top: 25px;
        font-size: 28px;
    }



          {/*------------------------------ Foooter --------------------------------------*/}

.summary-footer button {
    font-size: 25px;
    height: 80px;
    width: 200px;
}
  }