@font-face {
    font-family: Ubuntu-b;
    src: url(/src/assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family:Ubuntu-m;
    src: url(/src/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu-r;
    src: url(/src/assets/fonts/Ubuntu-Regular.ttf);
}


.select-plan p {
    color: rgb(161, 158, 158);
    text-align: left;
    font-family: Ubuntu-r;
}

.select-plan-1 {
    width:100%;
    min-height: 400px;
    margin-right: 10%;
    flex-grow: 1;
}

.plan {
    text-align: left;
}

.btn {
    width:21.5% ;
    margin-right: 3%;
    text-align: left;
    padding-left: 15px;
    border: solid 2px #dde7f4;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.selected {
    width:21.5% ;
    margin-right: 3%;
    text-align: left;
    padding-left: 15px;
    border: solid 2px #6259FF;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover,.selected:hover {
    border-color:#6259FF;
    background-color: #eeeefd
}

.btn:active, .selected:active {
    border-color: #b3afff;
}

.btn img,.selected img {
    width: 35px;
    margin-top: 15px;
    
}

.btn h5,.selected h5 {
    color: #0e2f5a;
    margin-top: 50px;
    font-family: Ubuntu-m;
    margin-bottom: 0;
}

.btn .p1, .selected .p1 {
    color: rgb(161, 158, 158);
    font-family: Ubuntu-m;
    margin-top: 7px;
    font-size: smaller;
   
}

.p2 {
    color: #0e2f5a;
    font-family: Ubuntu-r;
    font-weight: bolder;
    font-size: smaller;
    margin-top: 7px;
}

.plan-err{
    color: red !important;
    text-align: right;
    display: flex;
    justify-content: right;
    width: 70%;
}

.plan-err-hidden {
    visibility: hidden;
    height: 0;
    width: 0;
}


/* Footer */

.plan-footer {
    justify-content: space-between;
    display: flex;
    width:70%;
    padding-bottom: 5%;
}

.plan-footer button {
    background-color: #0c284c;
    cursor: pointer;
    color: white;
    font-family: Ubuntu-r ;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 7px;
}


.plan-footer button:active {
    background: #153f76;
    color: white;
  }
