@font-face {
    font-family: Ubuntu-b;
    src: url(/src/assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family:Ubuntu-m;
    src: url(/src/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu-r;
    src: url(/src/assets/fonts/Ubuntu-Regular.ttf);
}


.switch-d {
    width:100% ;
    height: 50px;
    margin-top: 5%;
    border: none;
    border-radius: 10px;
    background-color: rgb(237, 237, 249);
    display: flex;
    justify-content: center;
}

.switch-class {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 7% ;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(8, 4, 79);
    border-radius: 20px ;
    height: 20px;
    width: 48px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    top: 2px;
    left: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider:before {
    transform: translate(26px);
}

.monthly {
    color: rgb(161, 158, 158);
    font-family:Ubuntu-r;
    margin-top: 17px;
}

.yearly {
    color: rgb(8, 4, 79);
    font-family:Ubuntu-r;
    margin-top: 17px;
}

.monthly.toggled {
    color:rgb(8, 4, 79);
    font-family:Ubuntu-r;
    margin-top: 17px;
}

.yearly.toggled {
    color: rgb(161, 158, 158);
    font-family:Ubuntu-r;
    margin-top: 17px;
}


/* media queiries */

/* @media (width <= 500px) {

    .switch-d {
        width:100% ;
        height: 100px;
        border-radius: 15px;
    }
    
    .switch-class {
        width: 400px;
    }
    
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-top: 7% ;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(8, 4, 79);
        border-radius: 20px ;
        height: 30px;
        width: 80px;
        margin-top: 6px;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 25px;
        width: 25px;
        top: 2px;
        left: 15px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }

    .monthly {
        font-size: 30px;
        margin-top: 30px;
    }
    
    .yearly {
        font-size: 30px;
        margin-top: 30px;
    }
    
    .monthly.toggled {
        font-size: 30px;
        margin-top: 30px;
    }
    
    .yearly.toggled {
        font-size: 30px;
        margin-top: 30px;
    }
} */


@media (width <= 500px) {
    .switch-d {
        width:93% ;
    }

    .monthly {
        font-size: 17px;
        margin-top: 13px;
    }
    
    .yearly {
        font-size: 17px;
        margin-top: 13px;
    }
    
    .monthly.toggled {
        font-size: 17px;
        margin-top: 13px;
    }
    
    .yearly.toggled {
       font-size: 17px;
       margin-top: 13px;
    }

}


@media (width <= 390px) {
    .switch-d-1 {
        width: 100%;
        margin-left: -20px;
        padding-left: 20px;
        background-color: white;
        padding-bottom: 20px;
        border-radius: 15px;
    }
    .switch-d {
        width:93% ;
    }

    .monthly {
        font-size: 17px;
        margin-top: 13px;
    }
    
    .yearly {
        font-size: 17px;
        margin-top: 13px;
    }
    
    .monthly.toggled {
        font-size: 17px;
        margin-top: 13px;
    }
    
    .yearly.toggled {
       font-size: 17px;
       margin-top: 13px;
    }

}