@font-face {
    font-family: Ubuntu-b;
    src: url(/src/assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family:Ubuntu-m;
    src: url(/src/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu-r;
    src: url(/src/assets/fonts/Ubuntu-Regular.ttf);
}

.addons {
    width: 100%;
}

.addons-2 {
    
    min-height: 403px;
    flex-grow: 1;
}

.addons .addon-p {
    color: rgb(161, 158, 158);
    text-align: left;
    font-family: Ubuntu-r;
}


.option-btn {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    border: solid 2px #dde7f4;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 3%;
    cursor: pointer;
}

.addon-selected {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    border: solid 2px #6259FF;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 3%;
    cursor: pointer;
}

.option-btn:hover, .addon-selected:hover {
    border-color:#6259FF;
    background-color: #eeeefd
}

.addon-selected:active, .option-btn:active {
    border-color: #b3afff;
}

.input-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-div input[type='checkbox'] {
    width: 18px;
    height: 18px;
    appearance: none;
    -webkit-appearance: none;
    border: 1pt rgb(226, 223, 223) solid;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-div input[type='checkbox']:after {
    content: url('./icon/icon-checkmark.svg');
    display: none;
    color: white;
}

.input-div input[type='checkbox']:checked {
   background-color:#6259FF;
   border-color:#6259FF;
}

.input-div input[type='checkbox']:checked:after {
    display: block;
}


.details{
    width: 75%;
    height: 100%;
    
}

.details h5 {
    color: #0e2f5a;
    font-family: Ubuntu-m;
    margin-bottom: 0;
    text-align: left;
}

.details p {
    color: rgb(161, 158, 158);
    font-family: Ubuntu-r;
    margin-top: 7px;
    text-align: left;
}

.price-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-p {
    color: #6259FF;
    font-family: Ubuntu-r;
    
}


/* Footer */

.addons-footer {
    justify-content: space-between;
    display: flex;
    padding-bottom: 5%;
}

.addons-footer button {
    background-color: #0c284c;
    cursor: pointer;
    color: white;
    font-family: Ubuntu-r ;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 7px;
}

.addons-footer button:active {
    background: #153f76;
    color: white;
  }


  /* media queries */


  @media (width <= 500px) {
    .addons .addon-p {
        width: 85%;
        margin-bottom: 30px;
        font-size: 20px;
        
    }

    .option-btn {
        width: 95%;
        height: 90px;
    }
    
    .addon-selected {
        width: 95%;
        height: 90px;
    }

    .input-div{
        margin-left: 10px;
        margin-right: 15px;
    }

    .input-div input[type='checkbox'] {
        width: 25px;
        height: 25px;

    }


    .details h5 {
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    .details p {
        margin-top: 5px;
        font-size: 14px;
       
    }
    
    .price-p {
       font-size: 17px;
    }

    /* footer.................... */

    .addons-footer {
        position: fixed;
        bottom: 0;
        right: 1px;
        width:95%;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        padding-top: 15px;
    }
    
    .addons-footer button {
        height: 50px;
        width: 120px;
        font-size: 17px;
        border-radius: 5px;
    }
  }


  @media (width <= 390px) {
    .addons .addon-p {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: unset;
    }

    .option-btn {
        width: 95%;
        height: 70px;
    }
    
    .addon-selected {
        width: 95%;
        height: 70px;
    }

    .input-div input[type='checkbox'] {
        width: 20px;
        height: 20px;
    }

    .details h5 {
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    
    .details p {
        margin-top: 3px;
        font-size: 12px;
       
    }
    
    .price-p {
       font-size: 14px;
    }

        /* footer.................... */

        .addons-footer button {
            font-size: 0.834em;
            height: 40px;
            width: 100px;
            border-radius: 7px;
        }
  }