@font-face {
    font-family: Ubuntu-b;
    src: url(/src/assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family:Ubuntu-m;
    src: url(/src/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu-r;
    src: url(/src/assets/fonts/Ubuntu-Regular.ttf);
}


.footer {
    justify-content: space-between;
    display: flex;
    width:63.5%;
    padding-bottom: 5%;
}

.footer button {
    background-color: #0c284c;
    cursor: pointer;
    color: white;
    font-family: Ubuntu-r ;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 7px;
}

.footer button:active {
    background: #153f76;
    color: white;
  }