@font-face {
    font-family: Ubuntu-b;
    src: url(/src/assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family:Ubuntu-m;
    src: url(/src/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu-r;
    src: url(/src/assets/fonts/Ubuntu-Regular.ttf);
}

.your-info p {
    color: rgb(161, 158, 158);
    text-align: left;
    font-family: Ubuntu-r;
}

.your-info-1{
    width:100%;
    min-height: 368px;
    margin-right: 10%;
    flex-grow: 1;
}

.your-info-1 div {
   text-align: left;
}

.your-info-1 div h5 {
    color:#0e2f5a;
    font-size: smaller;
    margin-bottom: 10px;
}

.err-h5 {
    color: red !important;
   
}

.text-space {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border:solid 2px rgb(215, 215, 215);
   
}

.text-space-error{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border:solid 2px red;
}


.text-space input, .text-space-error input {
    border: none;
    width: 90%;
    height: 90%;
    margin-left: 20px;
    outline: none;
  }

  .text-space input[type='text'], .text-space-error input[type='text'] {
    font-family: Ubuntu-r;
  }

  .text-space input::placeholder, .text-space-error input::placeholder {
    color: rgb(161, 158, 158);
    font-family: Ubuntu-r;
  }

.input-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: red;
}

{/*------------------------------ Foooter --------------------------------------*/}

.footer-info {
    justify-content: right;
    display: flex;
    width:100%;
    padding-bottom: 5%;
}

.footer-info button {
    background-color: #0c284c;
    cursor: pointer;
    color: white;
    font-family: Ubuntu-r ;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 7px;
}

.next-btn {
    display: flex ;
    justify-content: right;
}

.footer-info button:active {
    background: #153f76;
    color: white;
  }


 {/*------------------------------ media queries --------------------------------------*/}





  @media (width <= 500px) {
    .your-info {
        background-color: transparent;
    }

    .your-info-1{
        height: 96.7dvb;
    }

    .your-info p {
        font-size: 30px;
        max-width:500px ;
        margin-bottom: 5px;
    }

    .your-info-1 div h5 {
        font-size: 25px;
    }
    
    
    .text-space {
        height: 80px;
        border-radius: 15px;
    }
    
    .text-space-error{
        height: 80px;
        border-radius: 15px;
    }
    
    
    .text-space input[type='text'], .text-space-error input[type='text'], .text-space input[type='email'], .text-space-error input[type='email']{
    font-family: Ubuntu-r;
    font-size: 30px;
    }

    .text-space input::placeholder, .text-space-error input::placeholder {
    color: rgb(161, 158, 158);
    font-family: Ubuntu-r;
    font-size: 30px;
    }

    
{/*------------------------------ Foooter --------------------------------------*/}


.footer-info button {
    font-size: 25px;
    height: 80px;
    width: 200px;
}
}