
@media (min-width: 501px) {
.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.make-center {
  display: flex;
  justify-content: left;
  width: 100%;
  max-width: 1200px;
} 
}

/* media queries */

@media (max-width: 820px) and (min-width: 501px) {
  
  .App {
    display: flex;
    justify-content: start;
  }

  .make-center {
    display: block;
    justify-content: center;
    max-width: 100%;


  }
}


