.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.make-center {
  display: flex;
  justify-content: left;
  width: 100%;
  max-width: 1200px;
}


/* media queries */

@media (width <= 820px) {
  
  .App {
    display: flex;
    justify-content: start;
  }

  .make-center {
    display: block;
    justify-content: center;
    max-width: 0;


  }
}


